[user]
	name = struuuuggle
	email = struuuuggle@gmail.com
[core]
	editor = emacsclient -nw
	# Enable parallel index preload for operations
	preloadIndex = true
	# Windows and macOS only
	fsmonitor = true
	pager = f() (command -v delta >/dev/null 2>&1 && exec delta || exec less -R) && f
[color]
	ui = true
[pager]
	branch = false
[init]
	defaultBranch = main
[pull]
	ff = only
[alias]
	undo = reset --hard HEAD@{1}
	# ログをグラフ表示
	graph = log --graph --decorate --name-status
	stat = "!git --no-pager diff --stat origin/$(git remote show origin | grep 'HEAD branch' | awk '{print $NF}') HEAD"
[branch]
	sort = -committerdate
[diff]
	renameLimit = 999
	renames = true
[pager]
	difftool = true
[interactive]
	diffFilter = f() (command -v delta >/dev/null 2>&1 && exec delta --color-only || exec cat) && f
[delta]
	line-numbers = true
	navigate = true
	file-style = normal
	file-decoration-style = ul
	hunk-header-style = syntax
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.local
[fetch]
	auto = true
