[user]
	name = struuuuggle
	email = struuuuggle@gmail.com
[core]
	editor = emacsclient -nw
[color]
	ui = true
[pager]
	branch = false
[init]
	defaultBranch = main
[pull]
	ff = only
[alias]
	undo = reset --hard HEAD@{1}
	# ログをグラフ表示
	graph = log --graph --decorate --name-status
	stat = "!git --no-pager diff --stat origin/$(git remote show origin | grep 'HEAD branch' | awk '{print $NF}') HEAD"
[branch]
	sort = -committerdate
[diff]
	renameLimit = 999
	renames = true
[pager]
	difftool = true
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.local