# General
.DS_Store
*.local

# .emacs.d
.emacs.d/early-init.el
.emacs.d/init.el
org-persist/
*.cache
*.elc
*~
.lsp-session-v1
.persistent-scratch
amx-items
auto-save-list
bookmarks
custom.el
elpa/
history
games
network-security.data
projectile-bookmarks.eld
projects
eln-cache/
recentf
tramp
transient/
var/
request/
.yas-compiled-snippets.el

# karabiner
automatic_backups/

*.local.md
