# General
.DS_Store

# .emacs.d
*.cache
*.elc
*~
.lsp-session-v1
.persistent-scratch
amx-items
auto-save-list
bookmarks
custom.el
elpa/
history
games
network-security.data
projectile-bookmarks.eld
recentf
tramp
transient/
var/
request/

# karabiner
automatic_backups/