[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule ".emacs.d.bak/yasnippets"]
	path = .emacs.d.bak/yasnippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
